body{
    background-color: white;
    margin: 0;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4em;
    z-index: 10;
    background: white;
    -webkit-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
    box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
    opacity: 0.8;
}
header img{
    width: auto;
    height: 25px;
    margin-top: 1.1em;
    margin-left: 1em;
    float: left;
}
header h4{
   font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
   color: black;
   text-align: right;
   margin-right: 0.5em;
   font-style: italic;
}
/* Slideshow container */
.slideshow {
  width: 100%;
  height: 60em;
  display:block;
    position: relative;
    margin: auto;
overflow: hidden;
margin-top: 4em;
background-color: black;
  }
.myslides{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    transform: scale(0.7);
}

.topnav {
    margin-top: -0.7em;
    margin-right: 1em;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: black;
    text-align: right;
    padding: 10px 16px;
    text-decoration: none;
    font-style: italic;
    font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
    font-size: 17px;
    margin-top: -23px;
    margin-right: -5px

  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    color: gray;
  }

  .inventory{
      margin-left: 2em;
      margin-top: auto;
      text-align: center;
  }
  
  .inventory h2{
    font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
    text-align: center;
    font-style: italic;
    font-weight: 400;
  }

  .block{
    width: 100%;
    height: 100%;
    margin:auto;
  display: flex;
    position: relative;
    align-content: space-between;
     justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;

      
  }
  .car{     
  padding:.5em;
  position:relative;
  display:flex;
  justify-content: center;
  height:200px;
  width:250px;
  margin: .75em;
  }

  .car img{
    
    width: auto;
    display: block;
    height: 200px;
    border:hidden;
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
    position:relative;
    color: #fff;
  }
  .overlay{
    z-index: 100;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width:100%;
    height:200px;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 0;
    text-align: center;
    cursor: pointer;
    border:hidden;
    border-radius: 10px;
    margin-top: 0em;
    overflow:hidden;
    
  }

  .car:hover .overlay {
    opacity: 1;
  }
  .car1:hover .overlay {
    opacity: 1;
  }

  #innerSlide1{
      background-image: url("asset/banner5 (2).jpg");
      position: absolute;
      top: 0;
      left: 0;
      display:block;
      width:100%;
      height:100%;
      background-size: cover;
      background-position: left;
      background-repeat: no-repeat;
      opacity: .5;
  }
  #innerSlide2{
    background-image: url("asset/banner6 (2).jpg");
    position: absolute;
    top: 0;
    left: 0;
    display:block;
    width:100%;
    height:100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.6;
}
#innerSlide3{
    background-image: url("asset/banner7 (2).jpg");
    position: absolute;
    top: 0;
    left: 0;
    display:block;
    width:100%;
    height:100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-opacity: .3;
}
.about{
  background-image: ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: middle;
      flex-direction: row;
      flex-wrap: wrap;
}
.about hr{
  width:60%;
  height:3px;
  background-color: rgb(240, 236, 0);
  border-radius: 5px;
  border:hidden;
}
.about h1{
width: 65%;
text-align: center;
color: black;
margin-top: 7.5%;
font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;

}
.about h2{
  width: 50%;
  text-align: center;
  color: black;
  margin-top:-2em;
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
  
  }
footer {
    background-color: white;
    height: 25px;
    font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
    color: black;
    text-align: center;
    margin-top: 3em;
    padding: 1.5em 2.0em;
opacity: 0.8;
    box-shadow: 0px 0 10px -3px rgba(0,0,0,0.75);
}

footer a {
  text-decoration: none;
}
footer a:link{
  text-decoration: none;
}
footer a:hover {
    color:lightgrey;
    text-decoration: none;
}
footer a:visited{
  color: rgb(180, 153, 1);
  text-decoration: none;
}

#logo{
  width: auto;
  height: 45px;
}

